<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>845082561543-6snlo3ek2160044dgn3i4qkd6k012pnb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkFFjUiY7Ayojo4D5ERmWjOgmpad3LB_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>845082561543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coFence.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>co-fence</string>
	<key>STORAGE_BUCKET</key>
	<string>co-fence.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845082561543:ios:0c161ad52c14efd7d6aea2</string>
</dict>
</plist>